*{
    margin: 0;
}

.barmenu{
    border: 3px solid rgb(131, 138, 30);
    height: 120px;
    display: flex;
    align-items: center;
    background-color: black;
}
.contmenu{
    border: 3px solid rgb(89, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
}
.cont_lgnam{
    border: 2px solid red;
    display: flex;
    align-items: center;
}
.logomenu{
    background-image:url('././img/musique.png');
    background-size:cover;
    height: 100px;
    width: 100px;
}
.namelogo{
    border: 2px solid red;
}
.lgnamstr{
    color: white;
    font-size: 3em;
    font-family: 'Kelly Slab', cursive;
}
.lgnamon{
    color: white;
    font-size: 2em;
    font-family: 'Jacques Francois Shadow', cursive;
}
.titmenu{
    border: 2px solid red;
    font-size: 5em;
    text-align: center;
    height: 100px;
    width: 200px;
    color: #7A24EA;
    font-family: 'Mea Culpa', cursive;
}
.hbmenu{
    border: 2px solid rgb(30, 255, 0);
}
.btnmenu{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.664);
    background-color: #BA3AF4;
    background-image: url('./img/liste.png');
    background-size: cover;
}
.btnmenu:active{
    background-color: #7a24ea;
    border: 2px solid #ffffff;
}

#affmenu:target{
    display: block;
}
.affmenu{
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.753);
    border: 2px solid red;
    height: 300px;
    width:  100%;
}
#affmenu{
    display: none;
}
.affmenuX{
    border: 2px solid red;
    margin: auto;
    width: 100px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #BA3AF4;
}
.affmenuXnone{
    text-decoration: none;
    list-style-type: none;
}
.affmenuXnone:active{
    color: #ffffff;
}
.affmenucont{
    display: none;
    background-color: #b93af48a;
    border: 2px solid #7A24EA;
    border-radius: 20px;
    height: 80px;
    width: 1200px;
    margin: 50px auto;display: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.affmenutxt{
    list-style-type: none;
    text-decoration: none;
    color: white;
    transition: font-size 1s;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 3em;
    border-left: 2px solid #7A24EA;
}
.affmenutxt:hover{
    font-size: 3.5em;
}
.affmenutxt:visited{
    color: white;
}
.bod{
    
}
.corps1{
    display: flex;
    align-items: center;
    height: 500px;
    border: 2px solid red;
    background: linear-gradient(90deg, white, #BA3AF4);
}
.corps1img{
    border: 2px solid rgb(0, 247, 255);
    background-size: cover;
    animation: fondu 10s ease-in-out infinite both;
    height: 500px;
    width: 700px;
}
.corps1img:hover{
    animation-play-state: paused;
}
@keyframes fondu {
    0%{background-image: url('./img/imgcps1-removebg-preview.png');}
    80%{background-image: url('./img/istockphoto-1320722438-612x612-removebg-preview.png');}
    100%{background-image: url('./img/imgcps1-removebg-preview.png');}
}
.corps1lg{
    border: 2px solid rgb(0, 255, 21);
    background-image: url('./img/clelg.png');
    background-size: cover;
    margin: auto;
    transition: widht 2s, height 4s, transform 2s;
    height: 300px;
    width: 300px;
}
.corps1lg:hover{
    transform: rotate(360deg);
    height: 400px;
    width: 400px;
}
.corps2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 700px;
    border: 2px solid rgb(0, 255, 136);
    background: linear-gradient(180deg, black, white);
}
.corps2img1{
    position: relative;
    bottom: 50px;
    left: 20px;
    height: 300px;
    width: 400px;
    transition: width 2s, height 10s;
    border: 2px solid rgb(166, 255, 0);
    background-image: url('./img/alphab.jpg');
    background-size: cover;
}
.corps2img1:hover{
    height: 400px; 
    width: 500px;
    z-index: 1;
}
.namecorps2img1{
    position: relative;
    color: white;
    font-family: 'Mea Culpa', cursive;
    font-size: 3em;
    margin-top: -50px;
    left: 30px;
    
}
.corps2img2{
    position: relative;
    right: 90px;
    top: 60px;
    height: 300px;
    width: 400px;
    transition: width 2s, height 4s;
    border: 2px solid red;
    background-image: url('./img/asak.webp');
    background-size: cover;
}
.corps2img2:hover{
    height: 400px;
    width: 500px;
}
.namecorps2img2{
    position: relative;
    right: 90px;
    top: 60px;
    color: white;
    font-family: 'Mea Culpa', cursive;
    font-size: 3em;
}
.namecorps2{
    position: relative;
    top: 60px;
    right: 300px;
    height: 70px;
    width: 300px;
    background: linear-gradient(90deg, rgba(240, 237, 237, 0.479), #7a24ea8a);
    color: white;
    font-family: 'Mea Culpa', cursive;
    font-size: 3.5em;
    text-align: right;
}
.corps2img3{
    position: relative;
    bottom: 50px;
    right: 20px;
    height: 300px;
    width: 400px;
    transition: width 2s, height 4s;
    border: 2px solid rgb(68, 0, 255);
    background-image: url('./img/Ninho-2.jpg');
    background-size: cover;
}
.corps2img3:hover{
    height: 400px;
    width: 500px;
}
.namecorps2img3{
    color: white;
    font-family: 'Mea Culpa', cursive;
    font-size: 3em;
    margin-top: -50px;
}
.corps3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    background: linear-gradient(90deg, white, #BA3AF4);
}
.cont_corps3nam{
    display: flex;
    align-items: center;
    border: 2px solid green;
    height: 100px;
}
.namecorps3{
    position: relative;
    height: 70px;
    width: 350px;
    background: linear-gradient(90deg, #7a24ea8a, white);
    color: white;
    font-family: 'Mea Culpa', cursive;
    font-size: 3.5em;
    text-align: center;
    margin-left: auto;
    margin-right: 20px;
}
.cont_corps3vdeo1{
    border: 2px solid red;
    height: 380px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.corps3vdeo1{
    border: 2px solid red;
    background-image: url('./img/asake$.jpg');
    background-size: cover;
    height: 250px;
    width: 350px;
    border-radius: 15px;
}
.corps3vdeo2{
    border: 2px solid red;
    background-image: url('./img/b2o.jpg');
    background-size: cover;
    height: 250px;
    width: 350px;
    border-radius: 15px;
}
.corps3vdeo3{
    border: 2px solid red;
    background-image: url('./img/tutup.webp');
    background-size: cover;
    height: 250px;
    width: 350px;
    border-radius: 15px;
}
.foot{
    height: 500px;
    border: 2px solid red;
    background-color: black;
}
.footpart1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(207, 1, 63);
    height: 200px;
}
.lgfoot{
    border: 2px solid rgb(197, 231, 43);
    background-image:url('./img/musique.png');
    background-size:cover;
    height: 130px;
    width: 130px;
    margin-right: 70px;
}
.abtfoot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(197, 231, 43);
    height: 150px;
    width: 130px;
    font-size: 1.2em;
    color: white;
}
.Aboutfoot{
    border-left: 1px solid white;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.alfoot{
    border: 2px solid red;
    font-size: 1em;
    font-family: 'Alumni Sans', sans-serif;
}
.brwefoot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(197, 231, 43);
    height: 150px;
    width: 130px;
    font-size: 1.2em;
    color: white;
}
.Browsefoot{
    border-left: 1px solid white;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.rscfoot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(197, 231, 43);
    height: 150px;
    width: 130px;
    font-size: 1.2em;
    color: white;
}
.Resourcesfoot{
    border-left: 1px solid white;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.footpart2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid rgb(38, 0, 255);
    height: 300px;
}
.coopfoot{
    display: flex;
    justify-content: space-between;
    border: 4px solid rgb(231, 238, 231);
    height: 50px;
    width: 1200px;
}  
.txtcopfoot{
    display: flex;
    align-items: center;
    border: 2px solid rgb(255, 0, 170);
    color: white;
}
/* .imgcop{
    background-image: url('./img/symbole-du-droit-dauteur.png');
    background-size: cover;
    height: 30px;
    width: 30px;
    border: 2px solid rgb(255, 0, 170);
} */
.mfcopfoot{
    font-size: 1.5em;
    font-family: 'Alumni Sans', sans-serif;
}
.supCopfoot{
    border-left: 2px solid white;
}
.rsfoot{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(255, 0, 170);
    color: white;
    width: 400px;
}
.folfoot{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100px;
    border-left: 2px solid rgb(255, 0, 170);
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.6em;
}
.igfoot{
    background-image: url('./img/instagram.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(255, 0, 170);
}
.twitfoot{
    background-image: url('./img/twitter.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(255, 0, 170);
}
.fbfoot{
    background-image: url('./img/facebook.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(255, 0, 170);
}
.whatfoot{
    background-image: url('./img/whatsapp.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(255, 0, 170);
}





















@media screen and (max-width: 1200px) {
    body{
        background-color: red;
    }
    .affmenucont{
        width: 800px;
    }
    .corps2img1{
        width: 300px;
        bottom: 180px;
        left: 50px;
    }
    .corps2img1:hover{
        height: 300px;
        width: 350px;
    }
    .cont_corps2{
        border: 2px solid red;
    }
    .corps2img2:hover{
        width: 480px;
    }
    .namecorps2img1{
        border: 2px solid red;
        position: relative;
        font-size: 2em;
        width: 150px;
        left: 50px;
        bottom: 130px;
    }
    .namecorps2img2{
        font-size: 2em;
    }
    .corps2img3{
        width: 300px;
        height: 250px;
        right: 90px;
    }
    .corps2img3:hover{
        height: 350px;
        width: 300;
    }
    .namecorps2img3{
        font-size: 2em;
    }
}























@media screen  and  (max-width: 1000px){
    body{
        background-color: rgb(132, 0, 255);
    }
    .affmenucont{
        width: 800px;
    }
    .corps1img{
        width: 100%;
    }
    .corps1lg{
        display: none;
    }
    .corps2img1{
        position: relative;
        bottom: 160px;
        left: 110px;
        height: 250px;
        width: 300px;
        transition: width 2s;
        border: 2px solid rgb(166, 255, 0);
        background-image: url('./img/alphab.jpg');
        background-size: cover;
    }
    .corps2img1:hover{
        height: 350px;
        width: 380px;
        z-index: 1;
    }
    .namecorps2img1{
        position: relative;
        border: 2px solid red;
        color: white;
        font-family: 'Mea Culpa', cursive;
        font-size: 2em;
        text-align: end;
        bottom: 110px;
        left: 50px;
        width: 180px;
    }
    .corps2img2{
        position: relative;
        right: 40px;
        top: 60px;
        height: 280px;
        width: 300px;
        transition: width 2s, height 4s;
        border: 2px solid red;
        background-image: url('./img/asak.webp');
        background-size: cover;
    }
    .corps2img2:hover{
        height: 300px;
        width: 380px;
        z-index: 1;
    }
    .namecorps2img2{
        border: 2px solid red;
        position: relative;
        right: 30px;
        top: 60px;
        color: white;
        font-family: 'Mea Culpa', cursive;
        font-size: 2em;
        width: 150px;
    }
    .namecorps2{
        position: relative;
        top: 100px;
        right: 300px;
        height: 70px;
        width: 300px;
        background: linear-gradient(90deg, rgba(240, 237, 237, 0.479), #7a24ea8a);
        color: white;
        font-family: 'Mea Culpa', cursive;
        font-size: 3.5em;
        text-align: right;
    }
    .corps2img3{
        position: relative;
        bottom: 100px;
        right: 60px;
        height: 250px;
        width: 300px;
        transition: width 2s, height 4s;
        border: 2px solid rgb(68, 0, 255);
        background-image: url('./img/Ninho-2.jpg');
        background-size: cover;
    }
    .corps2img3:hover{
        height: 300px;
        width: 350px;
    }
    .namecorps2img3{
        position: relative;
        border: 2px solid red;
        color: white;
        font-family: 'Mea Culpa', cursive;
        font-size: 2em;
        width: 100px;
        bottom: 50px;
        text-align: end;
    }
    .cont_corps3nam{
        display: flex;
        align-items: center;
        border: 2px solid green;
        height: 100px;
    }
    .namecorps3{
        position: relative;
        height: 70px;
        width: 350px;
        background: linear-gradient(90deg, #7a24ea8a, white);
        color: white;
        font-family: 'Mea Culpa', cursive;
        font-size: 3.5em;
        text-align: center;
        margin-left: auto;
        margin-right: 20px;
    }
    .corps3{
        height: 400px;
    }
    .cont_corps3vdeo1{
        border: 2px solid red;
        height: 250px;
    }
    .corps3vdeo1{
        border: 2px solid red;
        height: 200px;
        width: 250px;
        border-radius: 15px;
    }
    .corps3vdeo2{
        border: 2px solid red;
        height: 200px;
        width: 250px;
        border-radius: 15px;
    }
    .corps3vdeo3{
        border: 2px solid red;
        height: 200px;
        width: 250px;
        border-radius: 15px;
    }
    .mfcopfoot{
        font-size: 1.4em;
    }
    .supCopfoot{
        font-size: 0.9em;
    }
    .foot{
        height: 400px;
    }
    .footpart1{
        height: 170px;
    }
    .footpart2{
        height: 200px;
    }
    .folfoot{
        font-size: 1.4em;
        width: 70px;
    }
    .rsfoot{
        width: 350px;
    }
}




























@media screen and (min-width: 310px) and (max-width: 850px) {
    body{
        background-color: rgb(43, 255, 0);
    }
    .barmenu{
        height: 90px;
    }
    .cont_lgnam{
        display: flex;
        flex-direction: column;
    }
    .logomenu{
        height: 50px;
        width: 50px;
    }
    .namelogo{
    font-size: 0.3em;
   }
    .titmenu{
        font-size: 2em;
        height: 50px;
        width: 70px;
    }
    .btnmenu{
        height: 60px;
        width: 60px;
    }
    .affmenu{
        height: 450px;
    }
    .affmenuX{
        font-size: 1.5em;
    }
    .affmenucont{
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 300px;
    }
    .affmenutxt{
        font-size: 2em;
    }
    .corps1img{
        width: 100%;
        height: 300px;
        max-height: 400px;
    }
    .corps2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 1200px;
    }
    .cont_corps2img1{
        border: 2px solid red;
    }
    .corps2img1{
        height: 200px;
        width: 200px;
        top: 1px;
        left: -1px;
    }
    .corps2img1:hover{
        height: 290px;
        width: 300px;
    }
    .namecorps2img1{
        position: relative;
        top: 50px;
    }
    .cont_corps2img2{
        border: 2px solid red;
    }
    .corps2img2{
        height: 200px;
        width: 200px;
        top: 1px;
        left: -5px;
    }
    .corps2img2:hover{
        height: 290px;
        width: 300px;
    }
    .namecorps2{
       position: relative;
       left: 0px;
       top: 460px
    }
    .namecorps2img2{
        position: relative;
        top: 1px;
        left: 10px;
    }
    .cont_corps2img3{
        display: flex;
        flex-direction: column;
        border: 2px solid red;
        height: 300px;
        width: 300px;
    }
    .corps2img3{
        height: 200px;
        width: 230px;
        transition: left 2s;
        top: 1px;
        left: 45px;
    }
    .corps2img3:hover{
        height: 220px;
        width: 300px;
        left: 0px;
    }
    .namecorps2img3{
        position: relative;
        height: 50px;
        width: 70px;
        left: 70px;
        top: 50px;
    }
    .corps3{
        height: 600px;
    }
    .cont_corps3vdeo1{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }
    .corps3vdeo1{
        height: 150px;
    }
    .corps3vdeo2{
        height: 150px;
    }
    .corps3vdeo3{
        height: 150px;
    }
    .lgfoot{
        height: 50px;
        max-width: 50px;
        width: 80px;

        margin-right: 10px;
    }
    .footpart1{
        display: flex;
        justify-content: space-around;
    }
    .footpart2{
        display: flex;
        justify-content:center;
        align-items: flex-end;
        height: 220px;
    }
    .coopfoot{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 120px;
    }
    .mfcopfoot{
        font-size: 0.9em;
        width: 400px;
        display: flex;
        justify-content: center;
    }
    .folfoot{
        font-size: 1.1em;
        width: 70px;
    }
    .rsfoot{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .igfoot{
        height: 40px;
        width: 40px;
    }
    .twitfoot{
        height: 40px;
        width: 40px;
    }
    .fbfoot{
        height: 40px;
        width: 40px;
    }
    .whatfoot{
        height: 40px;
        width: 40px;
    }

}





























/********************VIDEO******************************************VIDEO************************************VIDEO****/

.bdyvdeo{
    background-color: #59585c;
    height: 100%;
    width: 100%;
}
.bdypagevideo{
    border: 2px solid red;
}
.cont_search{
    border: 2px solid white;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.txtsearch{
    width: 100px;
    height: 20px;
    border: 2px solid black;
    border-radius: 20px;
}
.lgrech{
    display: inline-block;
    border: 2px solid red;
    height: 30px;
    width: 30px;
    background-image: url('../css/img/chercher.png');
    background-size: cover;
}
.partVdeo{
    border: 2px solid rgb(2, 31, 2);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partVdeo_vdeoprinc{
    position: relative;
    z-index: 0;
    height: 165px;
    width: 290px;
    border: 2px solid #7A24EA;
    border-radius: 20px;  
}

.rbqVdeo_rnb{

}
.rbqVdeo_rnb_txt{
    border: 2px solid #7A24EA;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #7A24EA;
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 2em;
    width: 100px;  
}
.rbqVdeo_rnb{
    border: 2px solid rgb(0, 225, 255);
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.rbqVdeo_rnb_vdeo1{
    border: 2px solid rgb(166, 255, 0);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rbqVdeo_rnb_vdeo1_1{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.rnb_vdeo1_1{
    height: 150px;
    width: 250px;
}
.rbqVdeo_rnb_vdeo1_2{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.rnb_vdeo1_2{
    height: 150px;
    width: 250px;
}
.rbqVdeo_rnb_vdeo1_3{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.rnb_vdeo1_3{
    height: 150px;
    width: 250px;
}

/*****************/
.rbqVdeo_frenchrp_txt{
    border: 2px solid #7A24EA;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #7A24EA;
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 2em;
    width: 150px;  
}
.rbqVdeo_frenchrp{
    border: 2px solid rgb(0, 225, 255);
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.rbqVdeo_frenchrp_vdeo1{
    border: 2px solid rgb(166, 255, 0);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rbqVdeo_frenchrp_vdeo1_1{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.frenchrp_vdeo1_1{
    height: 150px;
    width: 250px;
}
.rbqVdeo_frenchrp_vdeo1_2{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.frenchrp_vdeo1_2{
    height: 150px;
    width: 250px;
}
.rbqVdeo_frenchrp_vdeo1_3{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.frenchrp_vdeo1_3{
    height: 150px;
    width: 250px;
}


/*****************/
.rbqVdeo_ivoryrp_txt{
    border: 2px solid #7A24EA;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #7A24EA;
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 2em;
    width: 150px;  
}
.rbqVdeo_ivoryrp{
    border: 2px solid rgb(0, 225, 255);
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.rbqVdeo_ivoryrp_vdeo1{
    border: 2px solid rgb(166, 255, 0);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rbqVdeo_ivoryrp_vdeo1_1{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.ivoryrp_vdeo1_1{
    height: 150px;
    width: 250px;
}
.rbqVdeo_ivoryrp_vdeo1_2{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.ivoryrp_vdeo1_2{
    height: 150px;
    width: 250px;
}
.rbqVdeo_ivoryrp_vdeo1_3{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.ivoryrp_vdeo1_3{
    height: 150px;
    width: 250px;
}


/*****************/
.rbqVdeo_regg_txt{
    border: 2px solid #7A24EA;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #7A24EA;
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 2em;
    width: 100px;  
}
.rbqVdeo_regg{
    border: 2px solid rgb(0, 225, 255);
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.rbqVdeo_regg_vdeo1{
    border: 2px solid rgb(166, 255, 0);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rbqVdeo_regg_vdeo1_1{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.regg_vdeo1_1{
    height: 150px;
    width: 250px;
}
.rbqVdeo_regg_vdeo1_2{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.regg_vdeo1_2{
    height: 150px;
    width: 250px;
}
.rbqVdeo_regg_vdeo1_3{
    height: 150px;
    width: 250px;
    border: 2px solid #7A24EA;
}
.regg_vdeo1_3{
    height: 150px;
    width: 250px;
}




















/********************MUSIC******************************************MUSIC************************************MUSIC****/
.bdymusic{
    height: 1850px;
    background-color: #59585c;
}
.partmusic_nameabl{
    margin: 20px auto;
    width: 200px;
    background: linear-gradient(90deg, rgba(240, 237, 237, 0.479), #7a24ea8a);
    color: white;
    font-family: 'Mea Culpa', cursive;
    font-size: 2em;
    text-align: center;
}
.partmusic_alb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid red;
    height: 900px;
}
.partmusic_alb_1{
    border: 2px solid #7A24EA;
    background-image: url('../css/img/ni25G.png');
    background-size: cover;
    height: 400px;
    width: 250px;
}
.partmusic_alb_2{
    border: 2px solid #7A24EA;
    background-image: url('../css/img/asake_rogn1.png');
    background-size: cover;
    height: 400px;
    width: 250px;
}
.cont_partmusic_audio{
    border: 2px solid green;
    display: flex;
    justify-content: center;
}
.partmusic_audio{
    border: 2px solid white;
    background-image: url('../css/img/wizkid.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    width: 230px;
}
.audio_defaut{
    width: 230px;
    height: 30px;
    opacity: 0.5;
    border: 2px solid #7A24EA;
    border-radius: 15px;
}
.partmusic_namebby{
    margin: 20px auto;
    width: 200px;
    background: linear-gradient(90deg, rgba(240, 237, 237, 0.479), #7a24ea8a);
    color: white;
    font-family: 'Mea Culpa', cursive;
    font-size: 2em;
    text-align: center;
}
.cont_bby{
    border: 2px solid white;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cont_bby_1{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
}
.partmusic_namebby_img1{
    border: 2px solid red;
    height: 150px;
    width: 150px;
    background-image: url('../css/img/Capture_boobaBBy.png');
    background-size: cover;
}
.partmusic_namebby_txt1{
    border: 2px solid red;
    overflow:auto;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    height: 100px;
    width: 150px;
}
.cont_bby_2{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
}
.partmusic_namebby_img2{
    border: 2px solid red;
    height: 150px;
    width: 150px;
    background-image: url('../css/img/Capture_jayz.png');
    background-size: cover;
}
.partmusic_namebby_txt2{
    border: 2px solid red;
    overflow:auto;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    height: 100px;
    width: 150px;
}





















/********************LIBRARY******************************************LIBRARY************************************LIBRARY****/
.bdylbry{
    background-color: #8b9966;
}
.cont_rct{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    margin-left: 20px;
    width: 100px;
    height: 45px;
}
.lbry_lg_rct{
    border: 1px solid white;
    border-radius: 5px;
    background-image: url('./img/fleche.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}
.lbry_txt_rct{
    color: white;
    font-family: 'MonteCarlo', cursive;
    font-size: 1.5em;
}
.contlbry_rct{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}
.cont_lbry_msc_rct{
    border: 2px solid white;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lbry_name_msc{
    border: 2px solid red;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Mea Culpa', cursive;
    color: white;
    background-color: black;
}
.cont_msc_rct{
    border: 2px solid blue;
    width: 100%;
}
.partlbryrct{
    border: 2px solid red;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lbry_msc1_rct{
    border: 2px solid green;
    background-image: url('./img/widgunz.jpg');
    background-size: cover;
    width: 150px;
    height: 100px;
}
.lbry_msc2_rct{
    border: 2px solid green;
    background-image: url('./img/arafat.jpg');
    background-size: cover;
    width: 150px;
    height: 100px;
}
.lbry_msc3_rct{
    border: 2px solid green;
    background-image: url('./img/damso_2.jpg');
    background-size: cover;
    width: 150px;
    height: 100px;
}
.lbry_msc4_rct{
    border: 2px solid green;
    background-image: url('./img/asap-rocky-new-album-grid.webp');
    background-size: cover;
    width: 150px;
    height: 100px;
}


/******************/
.cont_lbry_vdeo_rct{
    border: 2px solid white;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lbry_name_vdeo{
    border: 2px solid red;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Mea Culpa', cursive;
    color: white;
    background-color: black;
}
.cont_vdeo_rct{
    border: 2px solid blue;
    width: 100%;
}
/* .partlbryrct{
    border: 2px solid red;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
.lbry_vdeo1_rct{
    border: 2px solid green;
    background-image: url('./img/widgunz.jpg');
    background-size: cover;
    width: 150px;
    height: 100px;
}
.lbry_vdeo2_rct{
    border: 2px solid green;
    background-image: url('./img/arafat.jpg');
    background-size: cover;
    width: 150px;
    height: 100px;
}
.lbry_vdeo3_rct{
    border: 2px solid green;
    background-image: url('./img/damso_2.jpg');
    background-size: cover;
    width: 150px;
    height: 100px;
}
.lbry_vdeo4_rct{
    border: 2px solid green;
    background-image: url('./img/asap-rocky-new-album-grid.webp');
    background-size: cover;
    width: 150px;
    height: 100px;
}

/***************/
.lbry_lg_fvrs{
    border: 1px solid white;
    border-radius: 5px;
    background-image: url('./img/etoile.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}
.img{
    height: 100px;
    width: 100px;
    background-image: url('../css/img/Capture_wizkhalifa.png');
    background-size: cover;
}